.tabsSection{
	display: flex;
	background-color: lightblue;
}
.tabs{
	display: flex;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.tabsTitle{
	width: 80px;
	border: 1px solid black;
	border-top:none;
	border-right: none;
	padding: 2px 4px;
}
.tabsTitle h2{
	font-size: 24px;
	font-weight: 400px;
	user-select: none;
}
.tab{
	border: 1px solid black;
	border-top:none;
	border-right: none;
	padding: 2px 6px;
	display: flex;
	align-items: center;
}
.tab:hover{
	background-color: rgb(133, 169, 182);
	transition: 0.1s;
	cursor: pointer;
}
.tab button{
	background-color: transparent;
	border: 1px solid transparent;
	font-size: 20px;
	margin: 0px 8px;
	font-weight: 600;
	width: 25px;
	height: 25px;
}
.tab button:hover{
	border: 1px solid black;
	background-color: aqua;
	cursor: pointer;
}
.currentTab{
	border-bottom: 1px solid transparent;
	background-color: rgb(133, 169, 182);
}
.currentTab:hover{
	cursor: default;
}
.extraTab{
	border:1px solid black ;
	border-top: none;
	flex: 1;
	display: inline-flex;
	align-items:center ;
	padding: 2px 6px;
}
.extraTab button{
	font-size: 24px;
	font-weight: 500;
	background-color: transparent;
	border: none;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}
.extraTab button:hover{
	background-color: aqua;
	border: 1px solid black;
}
.extraTab h2{
	user-select: none;
}