.selectedVariable{
    border: 1px solid black;
    padding: 8px 16px;
    padding-right: 20px;
}
.selectedVariable h2, .selectedVariable label{
    white-space: nowrap;
    text-overflow: ellipsis;
}
.selectedVariable h2{
    font-size: 30px;
    font-weight: 500;
    user-select: none;
}
.selectedVariable label{
    display: flex;
    font-size: 24px;
    margin: 2px 0px;
    align-items: center;
    user-select: none;
}
.selectedVariable input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%; 
    border: 2px solid black;
    background-color: transparent;
    transition: 0.2s; 
    box-shadow: none;
}
.selectedVariable input[type="radio"]:checked {
    background-color: black;
}
.selectedVariable input[type="radio"]:hover {
    cursor: pointer;
}
.selectedVariable h3{
    display: flex;
    font-weight: 400;
    font-family: var(--math-font);
    font-size: 30px;
    margin-left: 12px;
}
.selectedVariable div{
    margin-top: 12px;
    margin-left: 8px;
}
.selectedVariable sub h3{
    font-size: 25px;
    margin-left: 0px;
}
.leftSideUtilVar{
    opacity: 0.4;
    pointer-events: none;
}
.selectedVariable .selectionDropdown{
    margin: 0px;
    border: 1px solid black;
    margin-left: 12px;
    text-align: center;
    padding-left: 5px;
    background-color: var(--calc-background-highlight);
    padding-right: 2px;
    user-select: none;
}
.selectedVariable .selectionDropdown > div{
    margin: 0px;
    background-color: var(--calc-background);
    height: min-content;
}
.selectedVariable .selectionDropdown > h3{
    width: 43px;
    display: flex;
}
.selectedVariable .selectionDropdown > div > h3, .selectedVariable .selectionDropdown > h3{
    margin-left: 0px;
}
.selectedVariable .selectionDropdown h3{
    margin: 0px;
}
.selectedVariable .selectionDropdown > div:last-child{
    border: 1px solid black;
    position: absolute;
    left: 51px;
    min-width: 52px;
    width: fit-content;
    display: none;
    grid-auto-flow: column;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.4);
} 
.dropdownArrow{
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    flex: 1;
}
.selectedVariable .selectionDropdown:hover{
    cursor: pointer;
}
.selectedVariable .selectionDropdown:hover > div:last-child{
    display: grid;
}
.selectedVariable .selectionDropdown > div:last-child > div{
    border-right:1px solid rgba(0, 0, 0, 0.8) ;
    width: 51px;
}
.selectedVariable .selectionDropdown > div:last-child:hover{
    cursor: pointer;
}
.selectedVariable .selectionDropdown > div:last-child > div:hover h3{
    background-color: var(--calc-background-highlight);
    transition: 0.1s;
}
.selectedVariable .selectionDropdown > div:last-child > div{
    margin: 0px;
}
.selectedVariable .selectionDropdown > div:last-child > div > h3{
    padding-left: 8px;
}
.selectedVariable .selectionDropdown > div:last-child > div > span{
    display: flex;
    justify-content: center;
}
.selectedVariable .selectionDropdown > div:last-child > div > span hr{
    width: 90%;
    border: none;
    border-bottom: 1px solid black;
    opacity: 0.4;
}
.fade{
    opacity: 0.4; 
    pointer-events: none;   
}
.flex{
    display: flex;
}
.noBorderRight{
    border-right: 1px solid transparent !important;
}
.selectedVariable .wideHr{
    width: 100% !important;
    opacity: 1 !important;
    transition: 0.1s !important;
}