:root{
	--accent-1:rgb(110, 110, 120);
	--background: rgb(180, 180, 180);
  --accent-2:rgb(150, 150, 180);
  --accent-2-highlight:rgb(175, 175, 215);
  --math-font: 'Courier New', Courier, monospace;
  --calc-background: rgb(133, 169, 182);
  --calc-background-highlight: rgb(136, 184, 199);
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	Color-scheme: light only;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.darkred{
  color: darkred;
}